<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/stylesheets/module/toolbox.css" />
		<link rel="stylesheet" href="/stylesheets/module/headerModule.css" />
		<link rel="stylesheet" href="/stylesheets/module/infoCardModule.css" />
		<link rel="stylesheet" href="/stylesheets/moreReview.css" />
		<title>Document</title>
		<script
			type="text/javascript"
			src="//dapi.kakao.com/v2/maps/sdk.js?appkey=db886bb91673c40690514beb7a31ace6&libraries=services"
		></script>
	</head>
	<body>
		<header class="main-header">
			<a href="/home" class="main-header-logo">Reviewdangil</a>
			<div class="main-header-left-element">
				<ul>
					<li><a href="/mypage" class="white-a">계정 관리</a></li>
					<li><a href="/login" class="white-a">로그아웃</a></li>
				</ul>
				<img src="https://picsum.photos/200/300" alt="프로필 이미지" />
			</div>
		</header>
		<div id="notice">
			<h2>공지</h2>
			<a href="/announce-read">공지사항이 있어요! 지금 확인해 보세요!</a>
		</div>
		<main>
			<div id="sub-header">
				<h1>현 위치 최근 리뷰</h1>
			</div>
			<div id="info-container">
				<div id="info-grid-container">
					<% reviews.forEach(function(review){ %>
						<a href="/review-read/<%= review.REVIEW_ID %>">
							<div class="info-card">
								<div class="thumbnail-map <%= review.LOCATION_NAME.replace(/ /g, '-') %>"></div>
								<div class="info-card-text">
									<span><%= review.HEADLINE %></span>
									<span class="review-text-thumbnail">
										<%= review.CONTENTS %>
									</span>
									<span><%= review.LOCATION_NAME%></span>
								</div>
							</div>
						</a>
						<script>
							document.addEventListener("DOMContentLoaded", function() {
									<% reviews.forEach(function(review) { %>
											var className = '<%= review.LOCATION_NAME.replace(/ /g, '-') %>';
											var mapContainers = document.getElementsByClassName(className);
											for (var i = 0; i < mapContainers.length; i++) {
													var mapContainer = mapContainers[i];
													var mapOption = {
															center: new kakao.maps.LatLng(<%= review.LATITUDE %>, <%= review.LONGTITUDE %>),
															draggable: false,
															level: 3
													};
													var map = new kakao.maps.Map(mapContainer, mapOption);
													var marker = new kakao.maps.Marker({
															position: new kakao.maps.LatLng(<%= review.LATITUDE %>, <%= review.LONGTITUDE %>)
													});
													marker.setMap(map);
												}
									<% }); %>
							});
						</script>
					<% }); %>
							</div>
						</a>

			<div id="page-number-container">
				<% for (var i = 1; i <= totalPages; i++) { %>
					<% if (i == page) { %>
						<a href="/more-review/<%= reviews.latitude %>/<%= reviews.longtitude %>/<%= i %>" class="black-page-number-a"><%= i %></a>
					<% } else { %>
						<a href="/more-review/<%= review.latitude %>/<%= review.longtitude %>/<%= i %>" class="white-page-number-a"><%= i %></a>
					<% } %>
				<% } %>
				<% if (page < totalPages) { %>
					<a href="/more-review/<%= review.latitude %>/<%= review.longtitude %>/<%= parseInt(page) + 1 %>" class="white-page-number-a">></a>
				<% } %>
			</div>
		</main>
	</body>
</html>
