<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/module/toolbox.css" />
    <link rel="stylesheet" href="/stylesheets/module/headerModule.css" />
    <link rel="stylesheet" href="/stylesheets/reviewRead.css" />
    <title>Reviewdangil</title>
  </head>
  <body>
    <header class="main-header">
      <a href="/home" class="main-header-logo">Reviewdangil</a>
      <div class="main-header-left-element">
        <ul>
          <li><a href="/mypage" class="white-a">계정 관리</a></li>
          <li><a href="/" class="white-a">로그아웃</a></li>
        </ul>
        <img src="https://picsum.photos/200/300" alt="#" />
      </div>
    </header>
    <main>
      <div class="scrollbar"></div>
      <div id="containerTop">
        <div id="headline">
          <h1><%= headline %></h1>
        </div>
        <div class="star-rating space-x-4 mx-auto">
          <% for(let i = 5; i >= 1; i--){ %> <input type="radio" id="<%= i
          %>-stars" name="rating" value="<%= i %>" <%= i == rating ? 'checked' :
          '' %> disabled />
          <label for="<%= i %>-stars" class="star">★</label>
          <% } %>
        </div>
      </div>
      <div>작성자: <%= user_id %></div>
      <% var year = created_date.getFullYear(); var month = ('0' +
      (created_date.getMonth() + 1)).slice(-2); var day = ('0' +
      created_date.getDate()).slice(-2); var hours = ('0' +
      created_date.getHours()).slice(-2); var minutes = ('0' +
      created_date.getMinutes()).slice(-2); var seconds = ('0' +
      created_date.getSeconds()).slice(-2); var formattedDate = year + '/' +
      month + '/' + day + ', ' + hours + ':' + minutes + ':' + seconds; %>
      <div>작성 시간: <%= formattedDate %></div>
      <br />
      <div id="containerLocation"><%= location_name %></div>
      <div id="containerMap">맵 불러올 자리</div>
      <div id="containerText"><%= content %></div>
      <% if (user == user_id) { %>
        <div id="containerBottom">
          <a href="/review-edit/<%=review_id%>" class="white-a">리뷰 수정</a>
          <a href="/review-delete/<%=review_id%>" class="black-a">리뷰 삭제</a>
        </div>
      <% } %>
    </main>
  </body>
  <script
    type="text/javascript"
    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=db886bb91673c40690514beb7a31ace6&libraries=services"
  ></script>
  <% if (message && message.length > 0) { %>
    <script>
    alert('<%= message %>');
    </script>
    <% } %>
  <script>
    // 마커를 클릭하면 장소명을 표출할 인포윈도우 입니다
    var kakaoInfoWindow = new kakao.maps.InfoWindow({ zIndex: 1 });

    var mapContainer = document.getElementById("containerMap"), // 지도를 표시할 div
      mapOption = {
        center: new kakao.maps.LatLng(<%= latitude %>, <%= longtitude %>), // 지도의 중심좌표
        level: 3, // 지도의 확대 레벨
      };


    // 지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);
    displayMarker({ x: <%= longtitude %>, y: <%= latitude %> });

    // 지도에 마커를 표시하는 함수
    function displayMarker(place) {
      // 마커를 생성하고 지도에 표시합니다
      var marker = new kakao.maps.Marker({
        map: map,
        position: new kakao.maps.LatLng(place.y, place.x),
      });
    }
    document.querySelector('.black-a').addEventListener('click', function(event) {
    event.preventDefault();

    fetch(this.href, {
      method: 'POST',
    })
    .then(response => {
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      return response.text();
    })
    .then(data => {
      alert('리뷰가 성공적으로 삭제되었습니다.');
      window.location.href = '/home';
    })
    .catch(error => {
      console.error('Error:', error);
    });
  });
  </script>
</html>
